#lock-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-image: url(../../static/images/wallpapers/wallpaper3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
  z-index: 200;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
}

#lock-screen.lock {
  visibility: visible;
  animation: lock 1s forwards;
}

#lock-screen.unlock {
  visibility: hidden;
}

@keyframes lock {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#lock-screen div.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

/* 标题 */
#lock-screen .header {
  position: absolute;
  top: -5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lock-screen-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
}

.lock-screen-avatar img {
  display: block;
  width: 100%;
  height: 100%;
}

/* #lock-screen .header .name {
  font-size: 5rem;
  text-shadow: 0 0 5px rgb(0, 0, 0);
} */

/* 输入框 */
#lock-screen div input {
  width: 15rem;
  height: 2rem;

  border: none;
  border-radius: 1rem;
  text-indent: 1rem;
  outline: none;

  background-color: rgba(233, 233, 233, 0.705);
  caret-color: #fff;
  color: #fff;
  margin: 2rem 0 1.5rem;
  font-size: 14px;
}

#lock-screen div span {
  color: #e6e6e6;
}

#lock-screen div span:hover {
  color: #ffe924;
}

.fullscreen-btn {
  width: 90px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  background-color: rgba(119, 119, 119, 0.705);
  border-radius: 20px;
  margin-top: 10px;
}

.fullscreen-btn:hover {
  background-color: rgba(204, 204, 204, 0.705);
}

/* 底部信息 */
#lock-screen .footer {
  position: absolute;
  bottom: 2rem;
  font-size: 0.8rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lock-screen .footer .description {
  margin-bottom: 0.5rem;
}

#lock-screen .footer a {
  color: #fff;
}