#weather {
  position: absolute;
  width: 600px;
  height: 400px;
  min-width: 300px;
  min-height: 320px;
  top: 100px;
  left: 100px;

  color: rgb(255, 255, 255);
  background-color: rgba(5, 5, 5, 0.924);
  backdrop-filter: blur(5px);
}

#weather #weather-content-wrapper {
  font-size: 100px;
}