* {
  padding: 0;
  margin: 0;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#root {
  width: 100vw;
  height: 100vh;
  /* background-image: url(../images/wallpapers/wallpaper3.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  user-select: none;

  color: aliceblue;
  background-color: #4d4d4d;
}
#web-pc {
  width: 100%;
  height: 100%;
}

/* 最小化 */
.minimize {
  visibility: hidden;
}