#context-menu {
  width: 200px;

  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  /* left: 0;
  top: 0; */
  display: none;
}
#context-menu.active {
  display: block;
}
#context-menu ul {
  display: flex;
  flex-direction: column;
}

#context-menu ul li {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
#context-menu ul li:hover {
  background-color: #004898;
}