#status-bar {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(163, 163, 163, 0.349);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
}

/* 显示状态栏 */
#status-bar.show-status {
  animation: showStatusBar 1s;
  animation-fill-mode: forwards;
}

/* 隐藏状态栏 */
#status-bar.hide-status {
  animation: hideStatusBar 1s;
  animation-fill-mode: forwards;
}

@keyframes hideStatusBar {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -40px;
  }
}

@keyframes showStatusBar {
  0% {
    bottom: -40px;
  }

  100% {
    bottom: 0;
  }
}

/* 以打开app列表 */
#status-bar-opened-apps-list {
  display: flex;
  height: 100%;
  flex: 1 0 auto;
}

#status-bar-opened-apps-list li {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#status-bar-opened-apps-list li img {
  width: 100%;
  height: 100%;
  transform: scale(0.8);
}

#status-bar-opened-apps-list li:hover {
  background-color: rgba(163, 163, 163, 0.349);
}