#status-bar {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(163, 163, 163, 0.349);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  /* background-color: rgba(246, 246, 246, 0.8); */
}

/* 以打开app列表 */
#opened-apps-list {
  display: flex;
  height: 100%;
  flex: 1 0 auto;
}

#opened-apps-list li {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#opened-apps-list li img {
  width: 100%;
  height: 100%;
  transform: scale(0.8);
}

#opened-apps-list li:hover {
  background-color: rgba(163, 163, 163, 0.349);
}