#tooltip {
  box-sizing: border-box;
  position: fixed;
  top: 60px;
  left: 50%;
  margin-left: -100px;
  padding: 5px 10px;
  width: 200px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  color: aliceblue;
  font-size: 12px;
}

#tooltip.success {
  background-color: rgb(3, 179, 120);
}

#tooltip.error {
  background-color: rgb(235, 100, 21);
}